#container {
  border: 2px solid blue;
  width: 400px;
  height: 400px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  border: 1px solid gray;
  flex: 1 1 20px;
  height: 20px;
  margin: 0;
  box-sizing: border-box;
}
