@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 24px 0 0 0;
  font-size: 3rem;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggles {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  gap: 32px;
  justify-content: center;
}

#color {
  align-self: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

#color::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.btn {
  font-family: inherit;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

#color-mode {
  background-color: black;
  color: white;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#gridSize {
  margin-bottom: -30px;
}

#size {
  cursor: pointer;
}

#container {
  background-color: #fff;
  min-width: 450px;
  min-height: 450px;
  display: grid;
  margin-top: 20px;
  z-index: 1;
  box-shadow: 0 0 10px gray;
}

.box {
  border: 0.5px solid black;
}
