* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

#container {
  background-color: #fff;
  min-width: 500px;
  min-height: 500px;
  display: grid;
  margin-top: 20px;
  z-index: 1;
}

.filled-box {
  background-color: blue;
}
